



.selector-for-some-widget {
    box-sizing: content-box;
  }
  
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

}

.custom-banner-image {

  background-image: url('https://pixabay.com/de/illustrations/tapeten-angrybirds-angry-bird-gelb-5175527/');
  }

.img-fluid {
  width: 100%;
  height: auto;
}
